<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Basic Python Website</title>
</head>
<body>
    <h1>Welcome to My Website!</h1>
    <p>This is a basic Python website for the Cloudflare assignment produced by 
    <a href="https://www.linkedin.com/in/chrisbested/" target="_blank" rel="noopener noreferrer">Chris Bested</a>. Email: <a href="mailto:cbested@gmail.com">cbested@gmail.com</a></p>
    <p><a href="/secure">Click here to go to the secure site!</a></p>
    <br>
    <p><a href="/documentation" target="_blank" rel="noopener noreferrer">Click here to go to view the build documentation</a></p>
    <br>
    <p><a href="/headers">View HTTP Request Headers</a></p>
</body>
</html>
